{{- range .Values.ingress }}
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .name }}
  labels:
    {{- include "common.labels" $ | nindent 4 }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .tls }}
  tls:
    {{- toYaml . | nindent 2 }}
  {{- end }}
  rules:
  - host: {{ .host | quote }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .service }}
            port:
              name: http
---
{{- end }}
