{{- range .Values.storage }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .name }}
  labels:
    {{- include "common.labels" $ | nindent 4 }}
spec:
  accessModes:
  {{- range .accessModes }}
  - {{ . | quote }}
  {{- end }}
  {{- if .storageClass }}
  storageClassName: {{ .storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .size }}
---
{{- end }}
