{{- if .Values.alertmanager.enabled }}
{{- $values := .Values.alertmanager }}
{{- range $index, $instance := .Values.alertmanager.instances }}
kind: Service
apiVersion: v1
metadata:
  name: {{ $instance.name }}
  labels:
    {{- include "common.labels" $ | nindent 4 }}
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/instance: {{ $instance.name }}
  {{- with $values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ $values.service.type }}
  ports:
  - name: http
    port: 9093
    targetPort: http
    protocol: TCP
  - name: cluster-tcp
    port: 9094
    targetPort: cluster-tcp
    protocol: TCP
  - name: cluster-udp
    port: 9094
    targetPort: cluster-udp
    protocol: UDP
  selector:
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/instance: {{ $instance.name }}
---
{{- end }}
{{- end }}
